{% extends 'base.html' %}

{% block content %}
<form action={{ url_for('trainings.add_training')}} method="post">
    <table class="table">
        {% for player in players %}
        <tbody>
            <td>
                <label class="checkbox">
                    <input type="checkbox" value="{{ player.id }}" name="{{ present_pattern }}">
                    {{ player.lname }} {{ player.fname }}
                </label>
            </td>
        </tbody>

        {% endfor %}
    </table>
    <input type="submit" value="Hozzáad" class="button is-success">
</form>
{% endblock content %}