{% extends 'base.html' %}
{% block title %}
Játékosok
{% endblock title %}
{% block content %}
<table class="table is-striped">
    <thead>
        <tr>
            <th>Név</th>
            <th>Edzések száma</th>
            <th>Részvételi arány</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Név</th>
            <th>Edzések száma</th>
            <th>Részvételi arány</th>
        </tr>
    </tfoot>
    <tbody>
        {% for player in players %}
        <tr>
            <th> {{ player.name }}</th>
            <th> {{ player.num_trainings }}</th>
            <th> {{ player.training_percentage }}%</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}