{% extends 'base.html' %}
{% block title %}
Játékosok
{% endblock title %}
{% block content %}
<table class="table is-striped">
    <thead>
        <tr>
            <th>Név</th>
            <th>Edzések száma</th>
            <th>Részvételi arány</th>
            <th>%</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Név</th>
            <th>Edzések száma</th>
            <th>Részvételi arány</th>
            <th>%</th>
        </tr>
    </tfoot>
    <tbody>
        {% for player in players %}
        <tr>
            <th> {{ player.name }}</th>
            <th align="center"> {{ player.num_trainings }}</th>
            <th align="center"><progress class="progress {{ player.chart_color }}"
                    value={{ player.training_percentage }} max=100>{{ player.training_percentage }}%</progress></th>
            <th align="center">{{ player.training_percentage }}%</progress></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}