{% extends 'base.html' %}
{% block title %}
Edzések
{% endblock title %}
{% block content %}
<table class="table is-striped">
    <thead>
        <tr>
            <th>Időpont</th>
            <th>Játékosok száma</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Időpont</th>
            <th>Játékosok száma</th>
        </tr>
    </tfoot>
    <tbody>
        {% for training in trainings %}
        <tr>
            <th> <a href="{{ url_for('trainings.get_single_training', training_id=training.id)}}">
                    {{ training.date.strftime('%Y-%m-%d') }} </a></th>
            <th align=" center"> {{ training.players | length }} </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}