[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
flask = "*"
flask-restplus = "*"
black = "*"
flask-sqlalchemy = "*"
python-dateutil = "*"
rope = "*"
httpie = "*"
pytest-cov = "*"
isort = "*"

[requires]
python_version = "*"

[pipenv]
allow_prereleases = true
